<!DOCTYPE html>
<html lang="en">
<head>
    <title>Security opdracht</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="col-md-5">
    <h2>Secrets</h2>
</div>
<div class="col-md-5">
    <h3>Please select the way you want to see the hidden thing!</h3><br>
</div>
<ul>
    <li>Deze <a href="rest/public/">link</a> mag publiek zijn.</li>
    <li>Deze <a href="rest/een/">link</a> moet met een username/password beveiligd worden. (+3 pt)</li>
    <li>Deze <a href="/facebook">link</a> moet via een externe identity provider beveiligd worden. | LOGIN VIA FACEBOOK(+3 pt)</li>
    <li>Deze <a href="rest/twee/">link</a> moet met two-factor authenticatie beveiligd worden. (+3 pt)</li>
</ul>

</body>
</html>

