<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="col-md-5">
    <h2>Welcome <b>{{profileName}}</b>!</h2>
    <p>You are now logged in using your Facebook account.</p>
    <table class="table">


        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Your given secret key</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>{{name}}</th>
            <th>{{email}}</th>
            <th>{{secretkey}}</th>
        </tr>
        </tbody>
    </table>
    <a href="/logout?url=/">Logout</a>
</div>

</body>
</html>

